@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito.ttf);
}

* {
    font-family: Nunito;
}

.titles {
    text-align: center;
    font-weight: 700;
}

#main-content, #main-title {
    margin: 2rem;
}

.containers {
    margin-top: 2rem;
}

#carousel {
    width: 20rem;
    height: 20rem;
}

#title-desc {
    margin-bottom: 4rem;
}

.carousel-caption p, .carousel-caption h5 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.carousel-caption p {
    border-radius: 10%;
}